<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="JAMSServer" value="localhost" />
	</appSettings>
	
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    <pages><controls><add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls></pages></system.web>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

	  
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.7.607" newVersion="4.5.7.607" />
      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
